# Supabase Postgres & Auth Configuration
NEXT_PUBLIC_SUPABASE_URL=https://wrwtkuofhhqictyxhypo.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indyd3RrdW9maGhxaWN0eXhoeXBvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODczOTY0ODksImV4cCI6MjEwMjk3MjQ4OX0.6vpeVJk0_8LQlOdNv1RWPzEzWgGDSic9oaMS9mpT_wk

# Future Google Maps / Geolocation API key (Optional placeholder)
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=your-google-maps-api-key-here
